@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="bg-light px-4 py-2 ">
        <h4>Azure Cosmos DB: Distributed Counter Demo</h4>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
